.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
}

.auth-paper {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
}

.auth-avatar {
    margin: 1rem;
    background-color: #3f51b5 !important;
}

.auth-form {
    width: 100%;
    margin-top: 1rem;
}

.auth-submit {
    margin: 3rem 0 2rem !important;
}

.auth-link {
    margin-top: 1rem !important;
    text-align: center;
}
